@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode 1 elemento por página)
    em HTML é class = em css é . (pode multiplos elementos)
*/

body {
    background-color: #83DD80;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #274426;
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 70, 0);
    color: white;
}

h2 {
    color: rgb(55, 94, 55);;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    width: 700px;
}

.easy {
    color: rgb(26, 206, 35);
}
.medium {
    color: rgb(206, 206, 26);
}
.hard {
    color: rgb(206, 26, 26);
}

.HTML {
    color: rgb(206, 107, 26);
}
.CSS {
    color: rgb(26, 98, 206);
}

.destaque {
    background-color: #4379417a;
}
